.container {
    text-align: center;
    margin: 0 auto;
    min-height: 69vh;
    background: linear-gradient(to top, rgba(26,40,120,0.9), rgba(10,143,196,0.9));
    padding: 40px 0;
}

.react-quiz-container {
    padding: 0;
    margin: 0;
}